@mixin maxWidth($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin textGradient {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: var(--gradient);
  font-weight: 600;
}
