.skill {
  padding-top: 40px;
  &-cards {
    --columns: 4;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: 20px;
    @include maxWidth(1023px) {
      --columns: 3;
    }
    @include maxWidth(767px) {
      --columns: 1;
    }
  }
  &-card {
    padding: 20px;
    border: 1px solid #eee;
    opacity: 0.3;
    cursor: pointer;
    transition: all 0.25s linear;
  }
  &-card img {
    height: 80px;
    object-fit: cover;
    margin: 0 auto;
  }
  &-card:hover {
    border: 1px solid #999;
    opacity: 1;
  }
}
