:root {
  --bg-color: #0f172a;
  --body-size: 1200px;
  --container-size: 1100px;
  --gap: 50px;
  --text-color: white;
  --gradient: linear-gradient(to right, #20e3b2, #2cccff);
  --gradient-scrollbar: linear-gradient(to bottom, #2cccff, #20e3b2);
}
